name: build

on:
  push:
    branches:
      - main
      - release/**
  pull_request:
jobs:
  dist:
    name: Build wheel and .tar files for release
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2
      - uses: actions/setup-python@v5
      - run: |
          pip install build
          python -m build
      - uses: actions/upload-artifact@v4
        if: github.event_name != 'pull_request'
        with:
          name: ${{ github.sha }}
          path: dist/*
