name: frontend_ci
on:
  pull_request:
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Set up Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v3
      - name: Install dependencies
        run: npm install
        working-directory: ./script_runner/frontend
      - name: Run ESLint
        run: npm run lint
        working-directory: ./script_runner/frontend
