name: frontend_ci
on:
  pull_request:
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2
      - name: Set up Node
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm install
        working-directory: ./script_runner/frontend
      - name: Run ESLint
        run: npm run lint
        working-directory: ./script_runner/frontend
