name: python_ci
on:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/install-python-deps
      - name: Run linters
        run: |
          flake8 script_runner tests
          black script_runner tests --check
          isort script_runner tests --check-only
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/install-python-deps
      - name: Run tests
        run: |
          pytest tests
  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: ./.github/actions/install-python-deps
      - name: Run type checker
        run: |
          mypy script_runner tests
